{% extends  'layout/base.html.twig' %}

{% block title %}Build Your Form{% endblock %}

{% block body %}
   <div class="card">
      <div class="card-header">Créer un formulaire</div>
      <div class="card-body">
          {{ form_start(form) }}

         <button type="submit" class="btn btn-primary">Primary</button>

         {{ form_end(form) }}


      </div>

   </div>
{% endblock %}
